.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    font-size: 16px;
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.listItem span {
    
    font-size: 18px;
    margin-bottom: 5px;
}

.edit-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 98.1vw;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  transition: margin-right 0.3s;
  flex: 1;
}

.cart-open .productos-container {
  margin-right: 450px; /* igual al ancho del carrito */
}